<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.13/featherlight.gallery.min.css">
    {% if config.site.demo %}<link rel="stylesheet" href="css/demo.css">{% endif %}
    <link rel="stylesheet" href="css/form.css">
    {% block links %}{% endblock %}
</head>
<body>
{# Pad the top of the content to avoid it being hidden by the navbar, when in demo mode! #}
{% if config.site.demo %}
    {% block navbar %}{% endblock %}
    <div style="height:56px;">&nbsp;</div>
{% endif %}

{% block response %}{% endblock %}
{% block content %}{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.13/featherlight.min.js"></script>

{% if config.site.demo %}<script src="js/demo.js"></script>{% endif %}

{% block scripts %}{% endblock %}

</body>
</html>